In [39]:
import numpy as np
import pandas as pd

In [40]:
wygo = pd.read_csv('Statistik_Wygo.csv', sep=',')

In [41]:
print(wygo['Tore Wygorazzi'].sum())
print(wygo['Tore Gegner'].sum())
#Ja mit 1 ersetzen, Nein mit 0
wygo['Sieg'] = np.where(wygo['Sieg'] == 'Ja', 1, 0).astype(int)
print(wygo['Sieg'].sum())

wygo[' Niederlage'] = np.where(wygo[' Niederlage'] == 'Ja', 1, 0).astype(int)
print(wygo[' Niederlage'].sum())

wygo[' Unentschieden'] = np.where(wygo[' Unentschieden'] == 'Ja', 1, 0).astype(int)
print(wygo[' Unentschieden'].sum())

print(len(wygo))

print(wygo['Tore Wygorazzi'].sum()-wygo['Tore Gegner'].sum())

print(wygo['Tore Wygorazzi'].sum()/len(wygo))

print(wygo['Tore Gegner'].sum()/len(wygo))

825
436
66
14
4
84
389
9.821428571428571
5.190476190476191

In [42]:
wygo.columns

Index(['Saison', 'Format', 'Team', 'Gegner', 'Tore Wygorazzi', 'Tore Gegner',
       'Sieg', ' Niederlage', ' Unentschieden', ' Liga Wygorazzi',
       'Liga Gegner', ' Match_Id'],
      dtype='object')

In [45]:
df = pd.read_csv("Spieler_Statistik_25_26.csv")


# "-" in Plus und Minus durch NaN ersetzen, dann in Zahlen umwandeln
df["Plus"] = df["Plus"].replace("-", np.nan).astype(float)
df["Minus"] = df["Minus"].replace("-", np.nan).astype(float)

# NaN-Werte durch 0 ersetzen
df[["Plus", "Minus"]] = df[["Plus", "Minus"]].fillna(0)

In [46]:
# Plus-Minus und Punkte berechnen
df["PlusMinus"] = df["Plus"] - df["Minus"]
df["Punkte"] = df["T"] + df["A"]

In [53]:
df["PlusMinus_L"] = df["Linie-Plus"] - df["Linie-Minus"]
top3 = df.groupby("Linie")['PlusMinus_L'].sum().sort_values(ascending=False).head(4).reset_index()
top3['PlusMinus_L'] = top3['PlusMinus_L']/3
top3 = top3[top3["Linie"] != 0]

In [54]:
df["Linie"] = df["Linie"].astype(str)